
.matchvdsection1
{
width: 98%;float:left; border-radius: 10px 10px 10px 10px;
}
.matchvdsection1div1div1
{
float: left;margin: 0px 0px 15px;overflow: hidden;
}
.matchvdsection1div1div1span1a1
{
display: block; width: 68px; height: 20px; overflow: hidden; text-indent: -9999px; background: url("http://i.yimg.jp/images/talent/images/tl1/tw_pc.png") no-repeat scroll 0px 0px transparent;
}
.matchvdsection1div2
{
float: left;clear: both;width: 625px;padding: 0px 25px 0px 0px;
}
.matchvdsection1div2div1
{
overflow: hidden;margin: 0px;padding: 0px;text-align: left;
}
.matchvdsection1div2div1div1
{
float: left;width: 200px;
}
.matchvdsection1div2div1div1div1
{
width: 200px;height: 200px;overflow: hidden;margin: 0px;padding: 0px;
}
.matchvdsection1div2div1div1div1p1img1
{
width: 200px;height: 200px;
}
.matchvdsection1div2div1div1div2div1
{
overflow: hidden;font-size: 0px;line-height: 0;margin: 0px 0px 10px;
}
.matchvdsection1div2div1div1div2div1div11
{
float: left; width: 100px; height: 100px; margin: 0px; padding: 0px; overflow: hidden; background: none repeat scroll 0% 0% rgb(239, 239, 239);
}
.matchvdsection1div2div1div1div2div1div11a1
{
display: table-cell;width: 100px;height: 100px;vertical-align: middle;text-align: center;
}
.matchvdsection1div2div1div1div2div1div11a1img1
{width: 100px;
vertical-align: top;border: 0px none;text-align: center;list-style: none outside none;
}
.matchvdsection1div2div1div1div2div1div12
{
float: left;width: 100px;height: 100px;background: none repeat scroll 0% 0% rgb(239, 239, 239);overflow: hidden;margin: 0px;padding: 0px;
}
.matchvdsection1div2div1div1div2div1div12a1img2width
{width: 100px;
}
.matchvdsection1div2div1div1div2div1div12a1img2height
{height: 100px;
}
.matchvdsection1div2div1div1div2p1
{margin: 0px 0px 20px;font-weight: bold;padding: 0px;font-size: 69%;
}
.matchvdsection1div2div1div1div2p1a1
{text-decoration: none;color: rgb(36, 104, 207);font-weight: bold;
}
.matchvdsection1div2div1div2
{
float: right;width: 22rem;margin: 0px 0px 0px 25px;
}
.matchvdsection1div2div1div2div1
{
margin: 0px 0px 30px;line-height: 1.45;
}
.matchvdsection1div2div1div2div1h1
{
display: inline;margin: 0px;padding: 0px;word-spacing: 0px;
}
.matchvdsection1div2div1div2div1span1
{
font-size: 88%;
}
.matchvdsection1div2div1div2div1p1
{
font-size: 75%;margin: 0px 0px 10px;color: rgb(102, 102, 102);
}
.matchvdsection1div2div1div2div2
{
line-height: 1.45;margin: 0px;padding: 0px;
}
.matchvdsection1div2div1div2div2p1
{
font-size: 88%;margin: 0px 0px 10px;
}
.matchvdsection1div2div1div2div2p2
{
margin: 10px 0px 20px;color: rgb(153, 153, 153);text-align: right;font-size: 69%;
}
.matchvdsection1div2div1div2div2p2a1
{
color: rgb(36, 104, 207);text-decoration: none;display: inline-block;min-height: 18px;padding: 0px 0px 0px 23px;background-position: 0px -55px;
}
.matchvdsection1div2div1div2div3
{
line-height: 1.00;
}
.matchvdsection1div2div1div2div3table1
{
display: block;width: 100%;margin: 0px 0px 20px;
}
.matchvdsection1div2div1div2div3table1tbody1tr1th1
{
float: left;padding: 5px 12px 0px 0px;text-align: left;vertical-align: top;width: 110px;display: block;
}
.matchvdsection1div2div1div2div3table1tbody1tr1td1
{
display: block;float: left;padding: 5px 0px;vertical-align: top;
}
.matchvdsection1div2div1div2div3table1tbody2
{display: block;
}
.matchvdsection1div2div1div2div3table1tbody2tr1
{display: block;
}
.matchvdsection1div2div1div2div3table1tbody2tr1td1
{float:left;width: 100%;color: rgb(153, 153, 153);text-align: right;font-size: 69%;
}
.matchvdsection1div2div1div2div3table1tbody2tr1td1a1
{color: rgb(36, 104, 207);text-decoration: none;
}
.matchvdsection1div2div2h2
{margin: 0px 0px 10px;font-weight: bold;
}
.matchvdsection1div2div2div1
{padding: 20px 20px 0px;background: none repeat scroll 0% 0% rgb(246, 246, 246);overflow: hidden;
}
.matchvdsection1div2div2div1table1
{width: 100%;
}
.matchvdsection1div2div2p1
{
margin: 10px 0px 0px;text-align: right;font-size: 69%;color: rgb(153, 153, 153);
}
.matchvdsection1div2div2p1a1
{
color: rgb(36, 104, 207);text-decoration: none;
}
.matchvdsection1div2div3h2
{margin: 0px 0px 10px;font-weight: bold;
}
.matchvdsection1div2div3div1
{padding: 20px 20px 0px;background: none repeat scroll 0% 0% rgb(246, 246, 246);overflow: hidden;
}
.matchvdsection1div2div3div1h3
{margin: 0px 0px 10px;font-weight: bold;
}
.matchvdsection1div2div3div1p1
{line-height: 0.50;
}
.matchvdsection1div2div3p1
{margin: 10px 0px 0px;text-align: right;font-size: 69%;color: rgb(153, 153, 153);
}
.matchvdsection1div2div3p1a1
{text-decoration: none;color: rgb(36, 104, 207);
}
.matchvdsection1div2div4h2
{margin: 0px 0px 10px;font-weight: bold;
}
.matchvdsection1div2div4div1
{background: none repeat scroll 0% 0% rgb(246, 246, 246);padding: 20px 20px 0px;overflow: hidden;
}
.matchvdsection1div2div4div1div1
{margin: 0px 0px 15px;padding: 20px;border-top: 1px solid rgb(238, 238, 238);border-bottom: 1px solid rgb(238, 238, 238);background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.matchvdsection1div2div4div1div1h3
{margin: 0px 0px 12px;font-size: 75%;color: rgb(102, 102, 102);
}
.matchvdsection1div2div4div1div1h3em1
{margin: 0px 0px 0px 0px;font-weight: bold;
}
.matchvdsection1div2div4div1div1p1
{display: table; float: right; width: 100px; height: 76px;margin: 0px 0px 0px 20px;background: none repeat scroll 0% 0% rgb(239, 239, 239);font-size: 0px; line-height: 0;
}
.matchvdsection1div2div4div1div1p1a1img1
{width: 100%;
}
.matchvdsection1div2div4div1div1p2
{margin: 0px 0px 5px;
}
.matchvdsection1div2div4div1div1p2a1
{text-decoration: none;color: rgb(36, 104, 207);
}
.matchvdsection1div2div4div1div1p3
{margin: 0px 0px 20px;color: rgb(153, 153, 153);font-size: 75%;
}
.matchvdsection1div2div4div1div1p4
{color: rgb(153, 153, 153);font-size: 75%;
}
.matchvdsection1div2div4div1p1
{margin: 0px 0px 15px;text-align: right;font-size: 75%;font-weight: bold;
}
.matchvdsection1div2div4div1p1a1
{color: rgb(36, 104, 207); text-decoration: none;
}
